{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>{%block title%}Home Page{%endblock%}</title>
        <meta name= "viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="E-commerce store">
        <meta name="Keywords" content="commerce, e-commerce, store">
        <link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">
        <link rel="stylesheet" href="{%static 'css/signin_nd_up.css'%}">
        <link rel="icon" type="img/jpg" href="">
        <link rel="stylesheet" type="text/css" href="{%static 'css/media_queries.css'%}">
        <script src="https://kit.fontawesome.com/c676ebde69.js" crossorigin="anonymous"></script>
    </head>
    <body class="body">
        <header>
            <div class="logo"><a href="{%url 'home'%}">B<span id="chair-txt">chair</span></a></div>
            <!-- larg screen -->
            <div class="laptop-view">
                <ul class="nav-list">
                    <li><a href="#mattress">Mattress</a></li>
                    <li><a href="#bedroom">Bedroom</a></li>
                    <li><a href="#living-room">Living Room</a></li>
                    <li><a href="#kid-room">Kid Room</a></li>
                </ul>
            </div>
            <!-- mobile -->
            <ul class="nav-list-mobile">
                <li><a href="#mattress">Mattress</a></li>
                <li><a href="#bedroom">Bedroom</a></li>
                <li><a href="#living-room">Living Room</a></li>
                <li><a href="#kid-room">Kid Room</a></li>
            </ul>
             <!-- profile link -->
             <a href="{%url 'profile'%}" class="profile large-profile"><i class="fa-solid fa-image-portrait"></i></a>
            <!-- login logout buttons -->
            <div class="logs">
                {%block login%}<li class="login"><a href="{%url 'login'%}">Login</a></li>{%endblock%}
            {%block logout%} <li class="logout"><a href="{%url 'logout'%}">Logout</a></li>{%endblock%}
            </div>
            <!-- icon -->
            <div class="icon">
                {%block search%}<input type="search" name="search-term" class="search-box"><i class="fa-solid fa-magnifying-glass"></i>{%endblock%}
                <!-- submit form for search result -->
                <form action="{%url 'search'%}" method="get" id="search-form" style="display:none;">
                    <input type="hidden" name="query">
                    <input type="submit" id="submit-btn">
                </form>
                <div class="cart-item">
                    <a href="/checkout/" class="checkout"><i class="fa-solid fa-cart-shopping"></i><div class="cart-count">{%if session_data%}{{session_data}}{%endif%}</div></a>
                </div>
                <i class="fa-solid fa-bell large-bell"></i>
            </div>
            <!-- hamburgger -->
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </header>
        {%block content%}

        {%endblock%}
    </body>
    <footer>
        <div class="Links">
            <h5 class="quick-links" onclick="displayLink()">Quick Links <i class="fa-solid fa-angle-down reveal"></i></h5>
            <div class="b-seller">
                <a href='' id="be-a-vendor"> Be a vendor</a>
                <a href='' id="registered-buyer">Register as a buyer</a>
                <a href='' id="affiliate">Be an affiliate</a>
            </div>
        </div>

        <div class="policies">
            <a href='' class="customer-pol">Customer Policy</a>
            <a href='' class="seller-pol">Seller's Policy</a>
            <a href='' class="data-privacy">Data Privacy</a>
        </div>

        <div class="copy-wright">
            <a href='' id="copy-right">Copyright Bchair</a>
            <a href='' id="terms-of-service">Terms of Services</a>
        </div>
        <script src="../static/js/index.js"></script>
        <script src="../static/js/search.js"></script>
        <script src="../static/js/accDisp.js"></script>
        <script src="../static/js/func.js"></script>
    </footer>
</html>