{%extends 'base.html'%}
{%block login%}{%endblock%}
{%block logout%}{%endblock%}
{%block content%}
 <!-- main body items  -->
 <!-- hero -->
<div class="root-parent">
    <div class="hero-section">
        <div class="mordern-cont">
            <h1 class="mordern-txt">
                Mordern Child Furniture
            </h1>
            <img src="../static/img/sofa1.jpg" alt="furniture">
            <span class="mordern-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, aut!</span>
            <h6 id="price">$50</h6>
            <!-- submitting form -->
            <div class="buy-nd-cart">
                <form action="{%url 'checkout'%}" method="get" class="desc-btn" enctype="multipart/form-data">
                    <input type="hidden" name="product_img" value="../static/img/sofa1.jpg" style="display: none;">
                    <input type="hidden" name="product_id" value="1" style="display: none;" >
                    <input type="hidden" name="price" value="50" style="display: none;" >
                    <input type="hidden" name="product_name" value="Pink Sofa" style="display: none;" >
                    <input type="submit" class="buy" value="Buy Now">
                </form>
                <div class="add-to-cart">Add to cart</div>
            </div>
        </div>

        <div class="big-img">
            <img src="../static/img/sofa2.jpg" alt="Child sofa">
            <p class="how-it-works" onmouseover="howItWorks()">
                How it works?
                <p class="detail">
                    One of the best sofa you could ever get for your kids.
                    Trust us, you'd always be their favourite if they grow
                    up sitting on this!
                </p>
            </p>
            <div class="buy-nd-cart">
                <form action="{%url 'checkout'%}" method="get" class="desc-btn" enctype="multipart/form-data">
                    <input type="hidden" name="product_img" value="../static/img/sofa2.jpg" style="display: none;" >
                    <input type="hidden" name="product_id" value="2" style="display: none;" >
                    <input type="hidden" name="price" value="100" style="display: none;" >
                    <input type="hidden" name="product_name" value="Blue Sofa" style="display: none;" >
                    <input type="submit" class="buy" value="Buy Now">
                </form>
                <div class="add-to-cart">Add to cart</div>
            </div>
        </div>
    </div>
    <!-- other parts -->
    <section class="items">
        <div class="item">
            <p id=discount>Up to 50% off</p>
            <h4 id="why">Why we are the best?</h4>
            <img src="../static/img/sofa1.jpg" alt="img">
        </div>
        <div class="item">
            <img src="../static/img/sofa2.jpg" alt="sofa">
            <p class="item-detail">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Et voluptatibus sint ratione, expedita debitis doloribus.
            </p>
        </div>
        <div class="review-div">
            <div class="review-txt">
                Reviews 4.4
            </div>
            <!-- review 1 -->
            <div class="review">
                <!-- elements within a review box -->
                <div class="el">
                    <h5 id="nm-leta">S</h5>
                </div>
                <div class="name-nd-com">
                    <h3 id="name">Somebody</h3>
                    <p id="rev">Lorem ipsum.</p>
                </div>
                <div class="rate-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <!-- review 2 -->
            <div class="review">
                <div class="el">
                    <h5 id="nm-leta">S</h5>
                </div>
                <div class="name-nd-com">
                    <h3 id="name">Somebody</h3>
                    <p id="rev">Lorem ipsum.</p>
                </div>
                <div class="rate-icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                
            </div>
        </div>
    </section>
    <!-- mattresses -->
    <section class="mattress" id="mattress">

    </section>
    <!-- bedroom -->
    <section class="bedroom" id="bedroom">

    </section>
    <!-- living room -->
    <section class="living-room" id="living-room">

    </section>
    <!-- kid room -->
    <section class="kid-room" id="kid-room">

    </section>
</div>
    {%endblock%}