{%extends 'base.html'%}
{%if name.is_authenticated%}
{%block login%}<a href="{%url 'profile'%}" class="profile">Me</a>{%endblock%}
{%endif%}
{%block logout%}{%endblock%}
{%block content%}
 <!-- main body items  -->
 <!-- hero -->
<div class="root-parent">
    <div class="hero-section">
        <div class="mordern-cont">
            <h1 class="mordern-txt">
                Mordern Child Furniture
            </h1>
            <img src="../static/img/sofa1.jpg" alt="furniture">
            <span class="mordern-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, aut!</span>
            <h6 id="price">$50</h6>
            <!-- submitting form -->
            <form action="{%url 'checkout'%}" method="get" class="desc-btn">
                <input type="hidden" name="product_id" value="1" style="display: none;" >
                <input type="submit" class="buy" value="Buy Now">
            </form>
        </div>

        <div class="big-img">
            <img src="../static/img/sofa2.jpg" alt="Child sofa">
            <p class="how-it-works" onmouseover="howItWorks()">
                How it works?
                <p class="detail">
                    One of the best sofa you could ever get for your kids.
                    Trust us, you'd always be their favourite if they grow
                    up sitting on this!
                </p>
            </p>
        </div>
    </div>
    <!-- other parts -->
    <section class="items">
        <div class="item">
            <p id=discount>Up to 50% off</p>
            <h4 id="why">Why we are the best?</h4>
            <img src="../static/img/sofa1.jpg" alt="img">
        </div>
        <div class="item">
            <img src="../static/img/sofa2.jpg" alt="sofa">
            <p class="item-detail">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Et voluptatibus sint ratione, expedita debitis doloribus.
            </p>
        </div>
        <div class="review-div">
            <div class="review-txt">
                Reviews 4.4
            </div>
            <!-- review 1 -->
            <div class="review">
                <!-- elements within a review box -->
                <div class="el">
                    <h5 id="nm-leta">S</h5>
                </div>
                <div class="name-nd-com">
                    <h3 id="name">Somebody</h3>
                    <p id="rev">Lorem ipsum.</p>
                </div>
                <div class="rate-icon">
                    *****
                </div>
            </div>
            <!-- review 2 -->
            <div class="review">
                <div class="el">
                    <h5 id="nm-leta">S</h5>
                </div>
                <div class="name-nd-com">
                    <h3 id="name">Somebody</h3>
                    <p id="rev">Lorem ipsum.</p>
                </div>
                <div class="rate-icon">
                    *****
                </div>
                
            </div>
        </div>
    </section>
    <!-- mattresses -->
    <section class="mattress" id="mattress">

    </section>
    <!-- bedroom -->
    <section class="bedroom" id="bedroom">

    </section>
    <!-- living room -->
    <section class="living-room" id="living-room">

    </section>
    <!-- kid room -->
    <section class="kid-room" id="kid-room">

    </section>
</div>
    {%endblock%}