{%extends 'base.html'%}
{%block title%}
Payment Gateway
{%endblock%}

{%if user.is_authenticated%}<!-- trying to display 'login' logout button. base on user authentication status-->
    {%block login%}
    {%endblock%}
{%else%}
    {%block logout%}
    {%endblock%}
{%endif%}

{%block content%}
    <div class="pay-parent">
       <h5 class="pay-quest">Would you like to pay through a bank transfer? click <i id="account-pointer">here</i> to see account details.</h5> 
        <span id="acc-number">5223571821 GTB. Bchair Group of companies</span>
       <h2>Payment Platform API</h2>
    </div>
{%endblock%}