{%extends 'base.html'%}

{%block title%}profile{%endblock%}

{%block login%} {%endblock%}

{%block content%}
    {%if msgs%}
        {%for msg in msgs%}
        <div {%if msg.tags%}class="{{msg.tags}} message"{%endif%}>{{msg}}</div>
        {%endfor%}
    {%endif%}
    <div class="profile-parent">
        <h3 id="hello">Hello {{name}}</h3>
        <!-- for vendors -->
        {%if name.vendorprofile%}
            <div class="profile-hero">
                <img src="{{name.vendorprofile.profile_img.url}}" class="profile-pic" alt="profile-pic" type="img/jpg">
                <h4 class="name">{{name}}</h4>
            </div>
            <!-- current products -->
            <div class="product-flex">
                <h1 id="your-products"> Your products</h1>
                <div class="your_products">
                    {%for item in name.vendorprofile.product_set.all%}
                        <div class="products">
                            <div id="name-nd-toggle-prod">
                                <div class="p-name-togCont"><h5 id="prod-name" style="margin: 7px;">{{item.product_name}}</h5> <i class="fa-solid fa-angle-down prod-tog"></i></div>
                                <!-- edit product elements-> displays and hides when the icon above is toggled -->
                                <div class="edits">
                                    <div class="optionz remove-prod">Remove Product</div>
                                    <div class="optionz edit-prod">Edit Product</div>
                                </div>
                               
                                <!-- form for product removal -->
                                <div class="remove-nd-edit">
                                    <form action="{%url 'remove-prod'%}" method="get" style="display: none;">
                                        <input type="hidden" name="product_id" value="{{item.id}}">
                                        <button type="submit" id="removeProd">remove_prod</button>
                                    </form>
                                    <!-- form to update(edit) product details -->
                                    <form action="{%url 'edit-prod'%}" method="get" enctype="multipart/form-data" class="edit-form">
                                        <div class="cancel"><i class="fa-solid fa-xmark"></i></div>
                                        <h6>New Name</h6>
                                        <input type="text"  name="product_name" value="{{item.product_name}}" id="change-name">
                                        <h6>New Price</h6>
                                        <input type="text" name="price" id="" value="{{item.price}}" id="change-price">
                                        <h6>New Description</h6>
                                        <textarea type="text" name="description" value="" cols="8" rows="3" id="change-description">{{item.description}} </textarea>
                                        <button type="submit" id="updateProd">update</button>
                                    </form>
                                </div>
                            </div>
                            <img src="{{item.product_image.url}}" alt="" id="prod-img">
                            <p id="prod-dscr">{{item.description}}</p>
                            <h3 id="price">${{item.price}}</h3>
                            <h5 id="prod-status">Status:{%if item.sold%} Sold{%else%} In stock{%endif%}</h5>
                        </div>
                    {%endfor%}
                </div>
            </div>
            <!-- product upload section -->
            <div class="add-products">
                <h3 id="add-headsUp">Upload New Products for Sale, below.</h3>
                <form action="{%url 'profile'%}" method="post" class="upload-form" enctype="multipart/form-data">
                    {%csrf_token%}
                    <img src="" alt="product image"  class="product_img" style="display: none; width:20%; height: 20%;border-radius: 50%;border:solid orange 2px;">
                    <label for="product image">Product Image</label><input type="file" accept="image/*" name="product_image" id="product_img" required>
                    <label for="product name">Product Name</label><input type="text" name="product_name" required>
                    <label for="product price">Product Price</label><input type="text" name="product_price" required>
                    <label for="product category">Product category</label>
                    <select name="category" required>
                        <option value="mattress">Mattress</option>
                        <option value="bed">Bedroom</option>
                        <option value="living">Living Room</option>
                        <option value="kid">Kid Room</option>
                    </select>
                    <label for="about">Describe this product</label><input type="text" name="description" required>
                    <button type="submit">Upload Now?</button>
                </form>
            </div>
        <!-- for buyers -->
        {%else%}
        <div class="profile-hero">
            <img src="{{name.buyerprofile.profile_img.url}}" class="profile-pic" alt="profile-pic" type="img/jpg">
            <h4 class="name">{{name}}</h4>
        </div>
        {%endif%}
    </div>
{%endblock%}