@media screen and (max-width:700px){
    *{
        font-size: 15px;
    }

    html{
        width: 100%;
    }

    .laptop-view{
        display: none;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: fit-content;       
        height: fit-content;
    }
    .hamburger >div{
        width: 18px;
        height: 3px;
        background-color: lightblue;
        margin: 2px;
    }
    

    .mordern-txt{/*text at the top of the index page*/
        margin: auto;
        width: fit-content;
        padding: 5px;
    }

    .mordern-cont{
        width: 100%;
        margin: 20px;
    }
    
    /* hero section and items */
    .hero-section, .items{
        width: 100%;
        margin: 20px;
        justify-content:space-between;
    }

    .big-img, .review-div{
        margin-left: 16px;
    }
    /* container (named 'section') of all products by vendors. Each product has a 'product-cont' parent, before its own 'product container' */
    .vendor-products> section{
        grid-template-columns:100%;
        gap: 7px;
        margin: auto;
    }
    /*.product-cont{
    
    }*/
}