@media screen and (max-width:700px){
    *{
        font-size: 15px;
    }

    /* nav section  */
    .laptop-view{
        display: none;
    }
    /* mobile-view */
    
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: fit-content;       
        height: fit-content;
    }
    .hamburger >div{
        width: 18px;
        height: 3px;
        background-color: lightblue;
        margin: 2px;
    }
    /* Index page styling */
    .root-parent{
        margin-top: 50px;
        padding: 25px;
    }

    .hero-section{
        width: 100%;
        justify-content:space-between;
        align-self: flex-end;
    }

    .mordern-txt{/*text at the top of the index page*/
        margin: auto;
        width: fit-content;
        padding: 5px;
    }

    .mordern-cont{
        width: 100%;
        margin: 20px;
        margin: auto;
    }
    
    .big-img{
        margin: auto;
    }

    .mordern-cont>.buy-nd-cart, .big-img>.buy-nd-cart{ /*the 'buy-nd-cart' container */
        justify-content: space-between;
        align-items: center;
        align-self: flex-end;
        margin: auto;
    }

    .big-img>.buy-nd-cart{
        margin-top: -70px;
    }
    .mordern-cont>.buy-nd-cart>*, .big-img>.buy-nd-cart>*{
        margin: 2px;
    }
    
    .big-img, .review-div{
        margin-left: 16px;
    }
    .big-img > img{
        margin: auto;
    }

    .items >.item{
        width:100%;
    }
    
    .item >img{
        width:100%;
        height:50%;
    }

    .mordern-cont>img, #big-img{
        width:70%;
        height:50%;
    }
    /* container (named 'section') of all products by vendors. Each product has a 'product-cont' parent, before its own 'product container' */
    .vendor-products> section{
        grid-template-columns:100%;
        gap: 7px;
        margin: auto;
    }

    /*the form elements for sign-up and sign-in*/form >input{
        width:50%;
    }
    div.sign-up-guide{
        margin-top: 35%;
    }
    .input-cont{
        width: 50%;
        margin:13px;
    }
    .options{
        margin-bottom: 30px;
    }
    .profile{/* the profile icon */
        margin: auto;
        margin-left: 8px;
    }

    .search-box{
        width: 80px;
    }

    /* actual profile styling starts from here */
    .message{/*flash messages */
        margin-top: 20%;
        margin-bottom:-20%;
    }
    .profile-parent{
        margin-top: 30%;
    }
    .profile-hero{
        width: 100%;
        height: 100%;
    }
    .profile-pic{
        width:100%;
        height:100%;
    }
    .your_products{
        grid-template-columns: repeat(2, 1fr);
        padding: 6px;
    }
    #cart-head-text{
        margin-top: 30%;
    }
    
}