@media screen and (max-width:800px){
    *{
        font-size: 15px;
    }

    html{
        width: 100vw;
    }
    
    .hero-section, .items, .mordern-cont{
        width: 100%;
    }

    .laptop-view{
        display: none;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: fit-content;       
        height: fit-content;
    }
    .hamburger >div{
        width: 18px;
        height: 3px;
        background-color: lightblue;
        margin: 2px;
    }

    /* container of all products by vendors */
    .vendor-products{
        width: 80%;
    }

    .vendor-products> section{
        grid-template-columns: repeat(2, 1fr);
    }
}