/* the sign-in form */
form{
    margin:auto;
    margin-top: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding:5px;
    border-radius: 10px;
    font-weight: 100;
    font-size: 15px;
}

form > input{
    align-self: center;
    width:20%;
    height: 30px;
    border:solid orange 1px;
    border-radius: 15px;
    padding:5px;
}

button{
    width:fit-content;
    height: fit-content;
    padding:8px;
    border-radius: 10px;
    text-align: center;
    margin:8px;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

button:hover{
    background-color: lightblue;
}

.sign-in, .heads-up{
    margin:auto;
    text-align: center;
}

.sign-in{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: fit-content;
    margin-top:3%;
    font-size: 15px;
    font-weight: 100;
}

.sepr{
    width: 100%;
    height:3px;
    margin-top: -10px;
    background-color: orange;
}

/* sign-up form */

div.sign-up-guide, .signup-form{
    margin:auto;
    text-align: center;
}

div.sign-up-guide{
    margin-top:5%;
}

.signup-form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding:10px;
}

.input-cont{
    display: flex;
    flex-flow: column wrap;
    padding: auto;
    width:20%;
    margin:7px;
}

.input-cont input{
    align-self: center;
    width:100%;
    height: 30px;
    border:solid orange 1px;
    border-radius: 15px;
    padding:auto;
    text-align: center;
}

.options{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: fit-content;
    height:15px;
    padding:10px;
    margin:auto;
}
.option{
    border-radius:10px;
    border:solid 2px black;
    align-self: flex-start;
}

.success{
    margin:auto;
    margin-top:20px;
    text-align: center;
    width:fit-content;
    padding:5px;
    background-color:lightgreen;
    color: white;
    border-radius:15px;
}

.error{
    margin:auto;
    margin-top:20px;
    text-align: center;
    width:fit-content;
    padding:5px;
    background-color: lightcoral;
    color:white;
    border-radius:15px;
}