/* the sign-in form */
form{
    margin:auto;
    margin-top: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding:5px;
    border-radius: 10px;
    font-weight: 100;
    font-size: 15px;
}

form > input{
    align-self: center;
    width:20%;
    height: 30px;
    border:solid orange 1px;
    border-radius: 15px;
    padding:5px;
}

button{
    width:fit-content;
    height: fit-content;
    padding:8px;
    border-radius: 10px;
    text-align: center;
    margin:8px;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

button:hover{
    background-color: lightblue;
}

.sign-in, .heads-up{
    margin:auto;
    text-align: center;
}

.sign-in{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: fit-content;
    margin-top:8%;
    font-size: 15px;
    font-weight: 100;
}

.sepr{
    width: 100%;
    height:3px;
    margin-top: -10px;
    background-color: orange;
}

/* sign-up form */

div.sign-up-guide, .signup-form{
    margin:auto;
    text-align: center;
}

div.sign-up-guide{
    margin-top:10%;
}

.signup-form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding:10px;
}

.input-cont{
    display: flex;
    flex-flow: column wrap;
    padding: auto;
    width:20%;
    margin:7px;
}

.input-cont input{
    align-self: center;
    width:100%;
    height: 30px;
    border:solid orange 1px;
    border-radius: 15px;
    padding:auto;
    text-align: center;
}

.options{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: fit-content;
    height:15px;
    padding:10px;
    margin:auto;
}
.option{
    border-radius:10px;
    border:solid 2px black;
    align-self: flex-start;
}

.success{
    margin:auto;
    text-align: center;
    width:fit-content;
    padding:5px;
    background-color:lightgreen;
    color: white;
    border-radius:15px;
}

.error{
    margin:auto;
    text-align: center;
    width:fit-content;
    padding:5px;
    background-color: lightcoral;
    color:white;
    border-radius:15px;
}

.info{
    margin:auto;
    text-align: center;
    width:fit-content;
    padding:5px;
    background-color: rgb(81, 183, 218);
    color:black;
    border-radius:15px;
}

.message{
    margin-top: 10%;
    margin-bottom:-9%;
}

/* checkout page */

#cart-head-text{
    margin: auto;
    margin-top: 10%;
    text-align: center;
}
/*parent div*/  .cart-order{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

/*form parent*/.shipping-addr{
    width:60%;
    height: 80%;
    padding: 20px;
}

/*form itself*/.ship-form{
width: fit-content;
padding:20px;
height: 100%;
/* padding: 30px; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 2px solid lightblue;
border-radius: 10px;
}

.ship-form > #submit{
margin: auto;
}

.check-cont{
margin:8px;
width: 100%;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
text-align: left;
}
.check-cont > input{
width:50%;
height: 30%;
border:solid orange 1px;
border-radius: 15px;
padding:20px;
text-align: center;
width:fit-content;
margin: auto;
margin-left: 15px;
overflow-x: scroll;
}

#p-num{
    width:100px;
    text-align: center;
}

.ship-form > .buyer-image{
    width:50%;
    height:50%;
    cursor: pointer;
    border-radius: 50%;
    margin:auto;
    margin-bottom: 30px;
}

.your-order{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    align-self: flex-start;
}

.your-order > *{
    margin: 7px;
}
.your-order > #p-img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity >*{
    margin: 5px;
}
#quantity-tag{
    border:solid 1px orange;
    border-radius:15px;
    width:50px;
    text-align: center;
    padding: 5px;
}