@font-face{
    font-family:poppins;
    src: url('../Poppins/Poppins-Medium.ttf'),
    url('../Poppins/Poppins-Light.ttf'),
    url('../Poppins/Poppins-ExtraLightItalic.ttf'),
    url('../Poppins/Poppins-ExtraLight.ttf');
}

*{
    margin:none;
    border:none;
    box-sizing: border-box;
    font-family: poppins;
}

/* header section */
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    right:0;
    left:0;
    border-bottom:solid black 2px;
    background-color:white;
    z-index: 1000;
    padding: 10px;
    width:100%;
}
 .laptop-view{/*navigation for larg screen*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.logo > a{
    font-weight: 400;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:orange;
    cursor:pointer;
    text-decoration: none;
}
#chair-txt{
    font-size:16px;
    color:red 
}
.nav-list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style:none;
    text-align: center;
}

.nav-list li>a{
    text-decoration: none;
    color:black;
    margin:8px;
}

.nav-list li>a:hover{
    border-bottom:solid 2px orange;
}

.logs{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width:fit-content;
    padding: 8px;
}

.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:fit-content;
    padding:15px;
}

.search-box{/*search icon*/
    border: solid orange 1px;
    border-radius: 8px;
    width: 80px;
    margin-right: -12px;
}

.checkout{ /*the anchor tag that hold cart icon*/
    display: flex;
    align-items: center;
    text-decoration:none;
    color: black;
    /* z-index: 400; */
}


.icon > i, .checkout{
    margin: 15px;
}

.cart-item{/*a container holding the anchor tag with the cart icon*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    width: fit-content;
}

.cart-count{/*the cart item count div*/
    border-radius:50%;
    width:fit-content;
    height: fit-content;
    background-color:tomato;
    position: absolute;
    bottom: 65;
    top: 5;
    right: 0;
    left: 15;
    margin-right: 5px;
    padding: 2px;
    margin-bottom: 15px;
    color:white;
    /* z-index: 300; */
}
.logs > li{
    margin:5px;
    list-style: none;
    text-align: center;
    font-weight: 100;
    border-radius: 15px;
    background-color: lightblue;
    padding:5px;
}

.login > a, .logout > a{
    text-decoration: none;
    color:black;
}

/* mobile nav */
.nav-list-mobile{
    display: none;
}
.hamburger{
    display:none;
}

body{
    margin:auto;
    padding:auto;
    background-image:url('../img/E-comBackground.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.root-parent{
    display:flex;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
    background-image:url('../img/E-comBackground.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
/* hero section */
.hero-section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top:30px;
    width: 100%;
    padding:auto;
}

/* first container in hero */
.mordern-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align:left;
    width:50%;
    margin-left:70px;
}

/* submit form for the default products */
form.desc-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color:white;
    margin-left:-8px;
    margin-top:-10px;
    align-self: center;
}

/* the three buttons for product dynamics */
.buy{
    background-color: orange;
    text-decoration: none;
    color:white;
    border-radius: 10px;
    width:fit-content;
    height: fit-content;
    padding:8px;
    text-align: center;
    margin-right:70px;
    cursor: pointer;
}

.add-to-cart{
    background-color: lightblue;
    color:black;
    border-radius: 10px;
    width:fit-content;
    height: fit-content;
    padding:8px;
    text-align: center;
    margin-right:70px;
    margin-left: -50px;
    margin-top: -10px;
    cursor: pointer;
    font-size: 13px;
}

.remove-cart{
    display:none;
    justify-content: center;
    text-align: center;
    width: fit-content;
    padding: 8px;
    height: fit-content;
    font-size: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-left: -50px;
    margin-top: -10px;
    cursor: pointer;
}

/* the add to cart div */
.buy-nd-cart{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    width:fit-content;
}

.mordern-cont >.buy-nd-cart{ /*specific to 'mordern container alone'*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
}
.mordern-cont > img{
    width:50%;
    height:10%;
}
.mordern-txt{
    font-weight: 500;
    width:50%;
}

.mordern-desc{
    font-weight:lighter;
    margin-top:5px;
    max-width:25%;
    font-size:10px;
    text-align: unset;
}

/* second container in hero-section */
.big-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:50%;
}

/* submit form in the big image container itself */
.big-img >.buy-nd-cart{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top:-50px;
}

.big-img > img{
    width:70%;
    height: 50%;
    border-radius: 20px;
    margin-left:-150px;
}

.how-it-works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    text-align:center;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin-right:70px;
    position: relative;
    align-self: center;
    cursor: pointer;
    font-weight: 100;
}

.how-it-works > *{
    margin: 5px;
}

/*the text in 'how-it-works' #how-it-works{
    font-weight: 100;
}*/

/* details on how it works, and how to view cart */
.detail, .cart-detail{
    display: none;
    align-items: center;
    justify-content: flex-start;
    width:195px;
    background-color:bisque;
    color:black;
    font-weight: 100;
    height: fit-content;
    padding:10px;
    margin-bottom:-2px;
    box-shadow: 1px 1px 6px 1px orange;
    position: absolute;
    text-align: left;
    font-size: 10px;
}

/* items section */
.items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin:auto;
}

.items >.item{
    width:30%;
}

.item >img{
    width:50%;
    height:30%;
}

.items >.item, .items >.review-div{
    margin:8px;
}

/* the review box */
.review-div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height:fit-content;
    background-color: bisque;
    width: fit-content;
    padding:15px;
}

.review-txt{
    text-align: left;
    align-self:flex-start;
}
.review{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    margin:8px;
    height:50px;
    text-align:center;
    font-size:10px;
    background-color: white;
    border-radius:8px;
    width:fit-content;
}

.review > div{
    margin:7px;
}

.rate-icon{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px;
}


.el{
    background-color:rgb(145, 15, 145);
    color:white;
    height: fit-content;
    padding:5px;
    width:17px;
}

#nm-leta{
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-top:12px;
}

.review >.name-nd-com{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    text-align:center;
}

#rev{
    margin-top:-17px;
}

/* products from the database */
.vendor-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px;
    width: 100%;
}

.vendor-products> section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: auto;
    width: 100%;
}

.product-cont{
    width: 100%;
    height: fit-content;
    margin: auto;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    border: solid 1px orange;
    border-radius: 10px;
    width: fit-content;
    padding:5px;
    margin: auto;
}
.product >img{/*images within section at the index page*/
    width: 100%;
    height: 50%;
    align-self: center;
    border-radius:15px;
    flex-grow: 1;
    transition:all 0.5s;
}

.product >img:hover{
    transform: scale(1.1);
}

.product > *{
    margin:3px;
}



/* footer */
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: rgb(51, 48, 48);
    padding:20px;
    margin-top:20%;
}

footer > div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    text-align: left;
}

/* first quick links class */
.b-seller{
    display: none;
    margin-top: -20px;
}

/* toggleable link class */
.buyer-seller{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    text-align: left;
}

/* profile styling */


.profile{/* profile icon on the index page */ 
    width: 100px;;
    padding:8px;
    color: black;
    text-decoration: none;
}
.fa-image-portrait{
    width: 100%;
}

.profile-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:10%;
}

.profile-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:50%;
    height: 50%;
}
.profile-hero> .profile-pic{
    width:30%;
    height:30%;
    border-radius:50%;
    border:solid lightblue 2px;
    cursor: pointer;
}

/* products section */
.product-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:80%;
    height:fit-content;
    padding:10px;
    text-align: center;
}

#your-products{/*Your product text*/
    margin: auto;
}
.your_products{/*product parent container*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-self: center;
    width:fit-content;
    height:fit-content;
    padding:20px;
}
.products{/*actual product container*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: solid 1px orange;
    border-radius: 10px;
    height: fit-content;
    padding:8px;
}
.products >*{
    margin:3px;
}
/* product toggle container and its child items */
#name-nd-toggle-prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 6px;
    margin-top:20px;
    position: relative;
    right: auto;
    left: auto;
}

.p-name-togCont{/*container housing the product name and the 'edit' toggleable icon*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionz{
    cursor: pointer;
}

.edits{/*the edit options that show when arrow is toggled*/
    display: none;
}


.remove-nd-edit{/*the parent housing 'remove-form' and 'edit-form'*/
    display: none;
    position: absolute;
    top:12px;
    width: inherit;
}


.cancel{/*cancel icon in each 'edit form'*/
    align-self: flex-end;
    cursor: pointer;
}
.edit-form{/*form that sends new details for a product*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid purple 1px;
    border-radius: 5px;
    background-color: aliceblue;
    width: inherit;
    height: fit-content;
    padding: 8px;
}

.edit-form > h6{/*labels describing new details*/
    margin: 2px;
}

.edit-form > input, #change-description{/*inputs within edit form*/
    width: 70%;
    height:10%;
    margin: 5px;
    text-align: center;
    padding:3px;

}
#change-description, #change-description:active{/*the textarea element in the edit form*/
    border: solid orange 1px;
    border-radius: 5px;
}
.edit-options{/*a class to toggle when the edit arrow is clicked--> this displays the edit options for each product*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    position: absolute;
    top:10;
    left: 80;
    right: 8;
    background-color: aliceblue;
    color: black;
    font-weight: 100;
    font-size: 11px;
    border-radius: 5px;
    width: 100%;
    padding:5px;
}

.prod-tog{
    z-index: 500;
}
#prod-img{
    width: 80%;
    height: 40%;
    border-radius: 15px;
}

.add-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

form.upload-form{
    margin:10px;
    width: 100%;
    padding: 10px;
    border:solid lightblue 1px;
}
.upload-form > input ~ select{
    width:30%;
    height:30px;
    border:solid 1px orange;
    border-radius:10px;
}

.upload-form > select> option{
    background-color: lightblue;
    color: purple;
    border-radius: 15px;
}
.upload-form >input{
    /* border: none; */
    width:50%;
    height:30px;
    margin: 5px;
}
/* the quick links text */
.quick-links{
    cursor: pointer;
}
    
footer > div> a, .buyer-seller> a{
    color: white;
    text-decoration:none;
    font-weight: lighter;
}

.more-to-see{/*more to see*/
    background-image: linear-gradient(to right,white, lightblue);
    background-repeat: no-repeat;
    background-color:orange ;
    background-size:100%;
    text-align: center;
}

/* payment platform styling */
.pay-parent{
    margin-top: 15%;
    text-align-last: center; 
}

#account-pointer{
    cursor:pointer;
}
#acc-number{
    display: none;
}