*{
    margin:none;
    border:none;
    font-family: poppins;
}

@font-face{
    font-family:poppins;
    src: url('../Poppins/Poppins-Medium.ttf'),
    url('../Poppins/Poppins-Light.ttf'),
    url('../Poppins/Poppins-ExtraLightItalic.ttf'),
    url('../Poppins/Poppins-ExtraLight.ttf');
}
/* header section */
header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    top:0;
    right:0;
    left:0;
    border-bottom:solid black 2px;
    background-color:white;
    z-index: 1000;
}

.logo > a{
    font-weight: 400;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:orange;
    cursor:pointer;
    text-decoration: none;
}
#chair-txt{
    font-size:16px;
    color:red 
}
.nav-list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style:none;
    text-align: center;
}

.nav-list li>a{
    text-decoration: none;
    color:black;
    margin:8px;
}

.nav-list li>a:hover{
    border-bottom:solid 2px orange;
}

.logs{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width:fit-content;
    padding: 8px;
}

.icon{
    width:fit-content;
    padding:10px;
}

.icon > i{
    margin: 8px;
}
.logs > li{
    margin:5px;
    list-style: none;
    text-align: center;
    font-weight: 100;
    border-radius: 15px;
    background-color: lightblue;
    padding:5px;
}

.login > a, .logout > a{
    text-decoration: none;
    color:black;
}

/* mobile nav */
.nav-list-mobile{
    display: none;
}
.hamburger{
    display:none;
}

body{
    margin:auto;
    padding:auto;
    background-image:url('../img/E-comBackground.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.root-parent{
    margin-top: 70px;
    background-image:url('../img/E-comBackground.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
/* hero section */
.hero-section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top:30px;
    width: 100%;
    padding:auto;
}

/* first container in hero */
.mordern-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align:left;
    width:50%;
    margin-left:70px;
}

/* submit form for the default products */
form.desc-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color:white;
    margin-left:-8px;
    margin-top:-10px;
    align-self: center;
}

.buy{
    background-color: orange;
    text-decoration: none;
    color:white;
    border-radius: 10px;
    width:fit-content;
    height: fit-content;
    padding:8px;
    text-align: center;
    margin-right:70px;
    cursor: pointer;
}

.add-to-cart{
    background-color: lightblue;
    color:black;
    border-radius: 10px;
    width:fit-content;
    height: fit-content;
    padding:8px;
    text-align: center;
    margin-right:70px;
    margin-left: -50px;
    margin-top: -10px;
    cursor: pointer;
}

.checkout{
    text-decoration:none;
    color: black;
}

/* the add to cart div */
.buy-nd-cart{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.mordern-cont > img{
    width:50%;
    height:10%;
}
.mordern-txt{
    font-weight: 500;
    width:50%;
}

.mordern-desc{
    font-weight:lighter;
    margin-top:5px;
    max-width:25%;
    font-size:10px;
    text-align: unset;
}

/* second container in hero-section */
.big-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:50%;
}

/* submit form in the big image container itself */
.big-img >.buy-nd-cart{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top:-50px;
}

.big-img > img{
    width:70%;
    height: 50%;
    border-radius: 20px;
    margin-left:-150px;
}

.how-it-works{
    color:black;
    text-align:center;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin-right:70px;
    position: relative;
    align-self: center;
    cursor: pointer;
}

/* details on how it works */
.detail{
    display: none;
    align-items: center;
    width:150px;
    background-color:bisque;
    color:black;
    font-weight: 100;
    height: fit-content;
    padding:10px;
    margin-bottom:-2px;
    box-shadow: 1px 1px 6px 1px orange;
    position: absolute;
    text-align: center;
}

/* items section */
.items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin:auto;
}

.items >.item{
    width:30%;
}

.item >img{
    width:50%;
    height:30%;
}

.items >.item, .items >.review-div{
    margin:8px;
}

/* the review box */
.review-div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height:fit-content;
    background-color: bisque;
    width: fit-content;
    padding:15px;
}

.review-txt{
    text-align: left;
    align-self:flex-start;
}
.review{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    margin:8px;
    height:50px;
    text-align:center;
    font-size:10px;
    background-color: white;
    border-radius:8px;
    width:fit-content;
}

.review > div{
    margin:7px;
}

.rate-icon{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px;
}


.el{
    background-color:rgb(145, 15, 145);
    color:white;
    height: fit-content;
    padding:5px;
    width:17px;
}

#nm-leta{
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-top:12px;
}

.review >.name-nd-com{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    text-align:center;
}

#rev{
    margin-top:-17px;
}

/* footer */
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: rgb(51, 48, 48);
    padding:20px;
    margin-top:20%;
}

footer > div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    text-align: left;
}

/* first quick links class */
.b-seller{
    display: none;
    margin-top: -20px;
}

/* toggleable link class */
.buyer-seller{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    text-align: left;
}

/* profile styling */


.profile{/* profile icon on the index page */ 
    width: 100px;;
    padding:8px;
    color: black;
    text-decoration: none;
}
.fa-image-portrait{
    width: 100%;
}

.profile-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:10%;
}

.profile-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:50%;
    height: 50%;
}
.profile-hero> .profile-pic{
    width:30%;
    height:30%;
    border-radius:50%;
    border:solid lightblue 2px;
    cursor: pointer;
}

/* products section */
.product-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:80%;
    height:fit-content;
    padding:10px;
    text-align: center;
}

#your-products{/*Your product text*/
    margin: auto;
}
.your_products{/*product parent container*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-self: center;
    width:fit-content;
    height:fit-content;
    padding:20px;
}
.products{/*actual product container*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: solid 1px orange;
    border-radius: 10px;
    padding:5px;
}
/* product toggle container and its child items */
#name-nd-toggle-prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 6px;
    margin-top:20px;
    position: relative;
    right: auto;
    left: auto;
}

.optionz{
    cursor: pointer;
}

.edits{
    display: none;
}
.edit-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    position: absolute;
    top:25;
    left: 80;
    right: 8;
    background-color: aliceblue;
    color: black;
    font-weight: 100;
    font-size: 11px;
    border-radius: 5px;
    width: 100%;
    padding:5px;
}

.prod-tog{
    z-index: 500;
}
#prod-img{
    width: 150px;
    height: 150px;
}

.add-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

form.upload-form{
    margin:10px;
    width: fit-content;
    padding: 10px;
    border:solid lightblue 1px;
}
/* the quick links text */
.quick-links{
    cursor: pointer;
}
    
footer > div> a, .buyer-seller> a{
    color: white;
    text-decoration:none;
    font-weight: lighter;
}

/* media queries */
@media screen and (max-width:1000px){

}